<!DOCTYPE html>
<html>
<body>

<h1 class="display-4">Buscador</h1>


<div class="container">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="search" id="miBuscador" placeholder="Buscar artículo">
            </div>
            <!--end of col-->
            <div class="col-auto">
            	<button class="btn btn-primary btn-lg" type="button" class="btn btn-light" ng-click="filtrarDatos()">Buscar</button>
            </div>
            <!--end of col-->
        </div>
</div>

<table class="table table-bordered" style="font-size: 15px" style="width:100%">
  <thead>
    <tr>
      <th scope="col" style="width:15%">Título <br> Subtítulo </th>
      <th scope="col" style="width:15%">Autor(es)</th>
      <th scope="col" style="width:55%">Descripción</th>
      <th scope="col" style="width:15%"> Documento </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat= "dato in datos">
      <td>{{dato.metadata.title}}<br>{{dato.metadata.subtitle}}</td>
      <td>{{dato.metadata.authors}}</td>
      <td>{{dato.metadata.description}}</td>
      <td>
      	<button class="btn btn-primary btn-lg" type="button" class="btn btn-light" ng-click="seleccionarDocumento(dato._id)">Ver Documento</button>
      </td>
    </tr>
  </tbody>
</table>

<center>
	<button type="button" class="btn btn-primary btn-lg" style="font-size: 15px" ng-click="agregarDocumento()">Agregar Documento</button>
</center>
	
</body>
</html>


