<!DOCTYPE html>
<html>
<body>

<h1 class="display-4">Subir Documento</h1>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div>
	<form>
		<input ng-model="tituloDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Título" >
		<input ng-model="subtituloDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Subtítulo">
		<input ng-model="descripcionDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Descripción" >
		<input ng-model="autoresDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Autores" >
		<input ng-model="palabrasClavesDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Palabras clave" >
		<input ng-model="contribuidoresDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Contribuidores">
		<input ng-model="organizacionDoc" style="font-size: 15px" class="form-control form-control-lg" type="text" placeholder="Organización">
	</form>
</div>

<center>
	<button type="button" class="btn btn-primary btn-lg" style="font-size: 15px" ng-click="guardarDocumento()">Subir Documento</button>
</center>

</body>
</html>